/**************************************************
Background Styles
***************************************************/
/* line 4, E:/my projects/springboard/style/sass/misc.scss */
body {
  height: 100%;
  background-color: #fdf479;
  overflow: hidden;
  position: relative; }

/* line 11, E:/my projects/springboard/style/sass/misc.scss */
footer {
  background: url('images/backgrounds/button-inactive.png') 50% 50% no-repeat;
  background-size: contain;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 80px; }
  /* line 22, E:/my projects/springboard/style/sass/misc.scss */
  footer:hover {
    background: url('images/backgrounds/button-active.png') 50% 50% no-repeat;
    background-size: contain; }

/**************************************************
Left Menu Styles
***************************************************/
/* line 31, E:/my projects/springboard/style/sass/misc.scss */
.menu-container {
  height: 32px;
  width: 32px;
  font-family: 'Hanzipen Bold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer; }
  /* line 39, E:/my projects/springboard/style/sass/misc.scss */
  .menu-container.close {
    background: url('images/images/menu-open.png') no-repeat;
    background-size: contain; }
    /* line 42, E:/my projects/springboard/style/sass/misc.scss */
    .menu-container.close .menu {
      opacity: 0;
      height: 0;
      overflow: hidden; }
  /* line 48, E:/my projects/springboard/style/sass/misc.scss */
  .menu-container.open {
    background: url('images/images/menu-close.png') no-repeat;
    background-size: contain; }
    /* line 51, E:/my projects/springboard/style/sass/misc.scss */
    .menu-container.open .menu {
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      opacity: 1;
      height: 450px; }
  /* line 60, E:/my projects/springboard/style/sass/misc.scss */
  .menu-container .menu {
    position: absolute;
    top: 0;
    left: 10px;
    background: url('images/backgrounds/menu-background.png') no-repeat;
    background-size: 100%;
    height: 450px;
    width: 335px;
    font-size: 0.9em; }
    /* line 69, E:/my projects/springboard/style/sass/misc.scss */
    .menu-container .menu li {
      display: block;
      width: 80%;
      margin: 0 auto;
      padding: 5px 0 5px 10px;
      word-wrap: break-word;
      text-align: center;
      -webkit-border-image: url('images/images/menu-border.png') 0 0 100% 0 repeat;
      -moz-border-image: url('images/images/menu-border.png') 0 0 100% 0 repeat;
      -ms-border-image: url('images/images/menu-border.png') 0 0 100% 0 repeat;
      -o-border-image: url('images/images/menu-border.png') 0 0 100% 0 repeat;
      border-image: url('images/images/menu-border.png') 0 0 100% 0 repeat;
      -webkit-border-width: 0 0 20px 0;
      -moz-border-width: 0 0 20px 0;
      -ms-border-width: 0 0 20px 0;
      -o-border-width: 0 0 20px 0;
      border-width: 0 0 20px 0;
      border-style: solid; }
      /* line 87, E:/my projects/springboard/style/sass/misc.scss */
      .menu-container .menu li:first-child {
        margin-top: 35px; }
      /* line 90, E:/my projects/springboard/style/sass/misc.scss */
      .menu-container .menu li:last-child {
        border: none; }
      /* line 93, E:/my projects/springboard/style/sass/misc.scss */
      .menu-container .menu li a {
        color: #333; }
      /* line 96, E:/my projects/springboard/style/sass/misc.scss */
      .menu-container .menu li a:hover {
        color: #f15a24; }

/**************************************************
Right Logo Styles
***************************************************/
/* line 106, E:/my projects/springboard/style/sass/misc.scss */
.clarice-logo {
  height: 40px;
  width: 245px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: url('images/images/clarice-logo.png') no-repeat;
  background-size: contain; }

/**************************************************
Misc Styles
***************************************************/
/* line 121, E:/my projects/springboard/style/sass/misc.scss */
ul {
  list-style: none;
  margin: 0 5%; }
  /* line 124, E:/my projects/springboard/style/sass/misc.scss */
  ul li {
    display: inline-block; }

/* line 128, E:/my projects/springboard/style/sass/misc.scss */
a {
  text-decoration: none; }

/**************************************************
Parallex Styles
***************************************************/
/* line 135, E:/my projects/springboard/style/sass/misc.scss */
.main {
  height: 100vh;
  width: 100vw;
  -webkit-perspective: 1px;
  -moz-perspective: 1px;
  -ms-perspective: 1px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto; }

/* line 145, E:/my projects/springboard/style/sass/misc.scss */
.row {
  background: url('images/backgrounds/logo.png') no-repeat;
  background-size: 20%;
  position: relative;
  height: 100vh;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s ease 1s;
  -moz-transition: -moz-transform 1s ease 1s;
  -ms-transition: -ms-transform 1s ease 1s;
  transition: transform 1s ease 1s;
  -webkit-perspective-origin-x: 100%;
  -moz-perspective-origin-x: 100%;
  -ms-perspective-origin-x: 100%;
  perspective-origin-x: 100%; }
  /* line 164, E:/my projects/springboard/style/sass/misc.scss */
  .row .column {
    height: 65vh;
    position: absolute;
    margin-top: 35vh;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-perspective-origin-x: 100%;
    -moz-perspective-origin-x: 100%;
    -ms-perspective-origin-x: 100%;
    perspective-origin-x: 100%; }
    /* line 176, E:/my projects/springboard/style/sass/misc.scss */
    .row .column .image-container > img {
      width: 50vh;
      margin: 0 auto; }
  /* line 181, E:/my projects/springboard/style/sass/misc.scss */
  .row:nth-child(2n+1) {
    background-color: #fdf479;
    background-position: 50% 0;
    z-index: 4;
    transform: translateZ(0); }
  /* line 187, E:/my projects/springboard/style/sass/misc.scss */
  .row:nth-child(2n) {
    background-color: #fdf479;
    background-position: 50% 0;
    z-index: 2;
    transform: translateZ(-1px) scale(2); }

/*# sourceMappingURL=misc.css.map */