@charset "utf-8";
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}
.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}
/**************************************************
Font Styles
***************************************************/
@font-face {
    font-family: 'Hanzipen Bold';
    src: url("../fonts/HanziPenSC-W5.ttf") format("truetype");
}
@font-face {
    font-family: 'FiraSans Light';
    src: url("../fonts/FiraSans-Light-2.ttf") format("truetype");
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
    font-family: 'FiraSans Light', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    background: #fdf479;
    overflow-x: hidden;
}
ul, li {
    list-style: none;
}

/**************************************************
Left Menu Styles
***************************************************/
/* line 31, sass/misc.scss */
.menu-container {
    height: 32px;
    width: 32px;
    font-family: 'Hanzipen Bold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
/* line 39, sass/misc.scss */
.menu-container.close {
    background: url("../img/images/menu-open.png") no-repeat;
    background-size: contain;
}
/* line 42, sass/misc.scss */
.menu-container.close .menu {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
/* line 48, sass/misc.scss */
.menu-container.open {
    background: url("../img/images/menu-close.png") no-repeat;
    background-size: contain;
}
/* line 51, sass/misc.scss */
.menu-container.open .menu {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 1;
    height: 450px;
    padding: 0;
}
/* line 60, sass/misc.scss */
.menu-container .menu {
    position: absolute;
    top: 0;
    left: 10px;
    background: url("../img/images/menu-background.png") no-repeat;
    background-size: 100%;
    height: 450px;
    width: 335px;
    font-size: 0.9em;
    z-index: 999;
}
/* line 69, sass/misc.scss */
.menu-container .menu li {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0 5px 10px;
    word-wrap: break-word;
    text-align: center;
    -webkit-border-image: url("../img/images/menu-border.png") 0 0 100% 0 repeat;
    -moz-border-image: url("../img/images/menu-border.png") 0 0 100% 0 repeat;
    -ms-border-image: url("../img/images/menu-border.png") 0 0 100% 0 repeat;
    -o-border-image: url("../img/images/menu-border.png") 0 0 100% 0 repeat;
    border-image: url("../img/images/menu-border.png") 0 0 100% 0 repeat;
    -webkit-border-width: 0 0 20px 0;
    -moz-border-width: 0 0 20px 0;
    -ms-border-width: 0 0 20px 0;
    -o-border-width: 0 0 20px 0;
    border-width: 0 0 20px 0;
    border-style: solid;
}
/* line 87, sass/misc.scss */
.menu-container .menu li:first-child {
    margin-top: 35px;
}
/* line 90, sass/misc.scss */
.menu-container .menu li:last-child {
    border: none;
}
/* line 93, sass/misc.scss */
.menu-container .menu li a {
    color: #333;
}
/* line 96, sass/misc.scss */
.menu-container .menu li a:hover {
    color: #f15a24;
}

/**************************************************
Right Logo Styles
***************************************************/
/* line 106, sass/misc.scss */
.clarice-logo {
    height: 40px;
    width: 245px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url("../img/images/clarice-logo.png") no-repeat;
    background-size: contain;
}

/* Header Styles
---------------------------------*/
#owl-demo .item img, #owl-demo1 .item img{
    display: block;
    height: auto;
    margin: 0 auto;
}
.header{
    text-align:center;
    background-color: #fdf479;
    height: 100vh;
}
.logo{
    width:320px;
    margin:0 auto 35px;
}
.header h1 {
    font-family: 'Hanzipen Bold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    color: #f15a24;
}
h2 {
    font-size: 1.6em;
}
.link{
    background: url("../img/images/button-inactive.png") 50% 50% no-repeat;
    background-size: contain;
    font-family: 'Hanzipen Bold', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 40px;
    min-height: 45px;
    word-wrap: break-word;
    text-align: center;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px 0 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.link span {
    display: block;
    width: 100%;
    color: #ffee71;
    position: relative;
    padding: 1% 0 0 0;
}
.link:focus {
    text-decoration: none;
}
.link:hover {
    background: url("../img/images/button-active.png") 50% 50% no-repeat;
    background-size: contain;
    text-decoration: none;
}
ul.we-create {
    padding: 4% 0 16% 0;
}
.main-section{
    height: 100vh;
}
.prototype {
    padding: 3% 0 2% 0;
}
.prototype p {
    line-height: 1.8em;
}
.owl-carousel img {
    width: 650px;
}
/* Beleived
---------------------------------*/
#believed img {
    width: 66%;
}
#believed ul {
    padding: 2% 0;
}
#believed ul:last-child {
    margin: 0 0 2% 0;
}

/* Team
---------------------------------*/
.team-leader-block{
    margin:0 auto;
    padding: 10vh 0 0;
}
.team-leader-box{
    height: 550px;
    overflow: hidden;
    text-align: center;
    float: left;
}
.team-leader-box span{
    margin-bottom:24px;
    display:block;
    font-size: 0.8em;
}
.team-leader-box:nth-of-type(4n+0){ margin:0;}
.team-leader-shadow{
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    border-radius:50%;
    position:absolute;
    width:100%;
    height:100%;
    z-index:10;
    border-radius:50%;
}
.team-leader-shadow a{
    display:block;
    width:100%;
    height:100%;
}
.team-leader:hover .team-leader-shadow{
    box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
    display:block;
    border-radius:50%;
}
.team-leader ul{
    display:block;
    opacity:0;
    padding:0;
    margin:0;
    list-style:none;
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    text-align:center;
    margin-top:-14px;
    z-index:15;
    transition:all 0.6s ease-in-out;
    -moz-transition:all 0.6s ease-in-out;
    -webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
    display:inline;
    margin:0 11px;
}
.team-leader ul li a{
    font-family: 'FontAwesome';
    display:inline-block;
    font-size:28px;
    color:#fff;	
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
    text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
    color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
    color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover{
    color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
    color:#dd4b39;
}


/* Contact
---------------------------------*/
.main-section.contact{
    padding:90px 0 100px;
}

.main-section.contact{
    background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
    font-size:15px;
    margin:0 0 14px 68px;
    padding-left:0;
}
.contact-info-box h3{
    font-size: 15px;
    font-weight:400;
    float:left;
    width:102px;
    margin-right:12px;
    line-height:28px;
}
.contact-info-box h3 i{
    font-style:normal;
    font-size:18px;
    color:#222222;
    font-family: 'FontAwesome';
    font-weight:normal;
    margin-right:7px;
}
.contact-info-box span{
    line-height:28px;
    display:block;
    overflow:hidden;
}
.social-link{
    padding:35px 0;
    margin:0 0 0 68px;
    display:block;
    overflow:hidden;
    list-style:none;
}
.social-link li{
    float:left;
    margin-right:8px;
}
.social-link li a{
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:25px;
    color:#fff;
    background:#222222;
    border-radius:50%;
    transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
    text-decoration:none;
}
.twitter a:hover {
    background: #55acee;
}
.facebook a:hover {
    background: #3b5998;
}
.pinterest a:hover {
    background: #cb2026;
}
.gplus a:hover {
    background: #dd4b39;
}
.dribbble a:hover {
    background: #ea4c89;
}

/**************************************************
Contact Us Styles
***************************************************/
/* line 76, sass/module.scss */
#contact .social-container {
    margin: 10% 0;
}
/* line 78, sass/module.scss */
#contact .social-container a {
    display: inline-block;
    width: 20%;
    margin-left: 2%;
}
/* line 82, sass/module.scss */
#contact .social-container a:first-child {
    margin-left: 0;
}
/* line 85, sass/module.scss */
#contact .social-container a img {
    width: 100%;
}
/* line 91, sass/module.scss */
#contact .addresses {
    margin-top: 5%;
}
/* line 93, sass/module.scss */
#contact .addresses div {
    width: 60%;
    margin: 0 auto;
}
/* line 96, sass/module.scss */
#contact .addresses div.email-container {
    background: url("../img/images/social-address.png") 10% top no-repeat;
    background-size: 4.5%;
    padding: 0 0 0 10%;
}
/* line 99, sass/module.scss */
#contact .addresses div.email-container a {
    color: #333;
}
/* line 101, sass/module.scss */
#contact .addresses div.email-container a:hover {
    color: #333;
}
/* line 106, sass/module.scss */
#contact .addresses div.office-address-container {
    margin: 5% auto;
    background: url("../img/images/social-map.png") 10% top no-repeat;
    background-size: 4%;
}
/* line 110, sass/module.scss */
#contact .addresses div.office-address-container p {
    margin: 0;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
    animation-delay: 0.2s; 
    -webkit-animation-delay: 0.2s; 
}
.delay-03s { 
    animation-delay: 0.3s; 
    -webkit-animation-delay: 0.3s; 
}
.delay-04s { 
    animation-delay: 0.4s; 
    -webkit-animation-delay: 0.4s; 
}
.delay-05s { 
    animation-delay: 0.5s; 
    -webkit-animation-delay: 0.5s; 
}
.delay-06s { 
    animation-delay: 0.6s; 
    -webkit-animation-delay: 0.6s; 
}
.delay-07s { 
    animation-delay: 0.7s; 
    -webkit-animation-delay: 0.7s; 
}
.delay-08s { 
    animation-delay: 0.8s; 
    -webkit-animation-delay: 0.8s; 
}
.delay-09s { 
    animation-delay: 0.9s; 
    -webkit-animation-delay: 0.9s; 
}
.delay-1s { 
    animation-delay: 1s; 
    -webkit-animation-delay: 1s; 
}
.delay-12s { 
    animation-delay: 1.2s; 
    -webkit-animation-delay: 1.2s; 
}
.delay-50s { 
    animation-delay: 5s; 
    -webkit-animation-delay: 5s; 
}

.page{position: relative}